@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');

html {
  font-size: 10px;
  box-sizing: border-box;
  font-family: 'Oswald', monospace;
  font-weight: 400;
}
:root {
  --dark-blue: #2a516d;
  --dark-purple: #4b4076;
  --light-yellow: #f7d477;
  --light-orange: #ec9b86;
  --font-white: #dadde1;
  --uv-low: #00ae4c;
  --uv-medium: #fcd933;
  --uv-high: #f77c00;
  --uv-very-high: #ee2a13;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  /* height: 100vh; */
  width: 100vw;
  background: linear-gradient(90deg, var(--light-yellow), var(--light-orange));
  display: flex;
  justify-content: center;
  color: var(--font-white);
  letter-spacing: 0.2rem;
}

.weather {
  margin: 3rem 0;
  background: linear-gradient(45deg, var(--dark-blue), var(--dark-purple));
  box-shadow: var(--dark-blue) 0px 20px 30px -10px;
  border-radius: 1rem;
  width: 90vmin;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 2s;
  overflow: hidden;
  position: relative;
}

.weather__current {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* time date city */
.current__location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.location__date {
  font-size: 1.8rem;
}
.location__time {
  font-size: 3rem;
}
.location__city {
  font-size: 2rem;
}
/* main weather img */
.current__image {
  height: 30rem;
  width: 30rem;
  margin: -3rem auto;
}
.image__forecast {
  height: 100%;
  width: 100%;
}
/* main temp */
.current__temp {
  font-size: 8rem;
  position: relative;
  left: 1.5rem;
}
/* current min max feels like */
.current__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.info__feels-like {
  display: flex;
}
.info__feels-like__img {
  display: block;
  height: 2.8rem;
  margin-right: 0.8rem;
}
.info__amplitude::before {
  content: '▾';
  position: relative;
}
.info__amplitude::after {
  content: '▴';
  position: relative;
  bottom: 0.5rem;
}
/* hurly container */
.weather__hourly {
  display: flex;
  overflow: scroll;
  width: 100%;
}
.hourly {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(167, 160, 160, 0.3);
  padding: 0.5rem;
  margin: 0 0.1rem;
}
.hourly p img {
  position: relative;
  top: 2px;
}

/* daily */
.weather__daily {
  display: column;
  flex-direction: row;
  width: 100%;
}
.daily {
  border: 1px solid rgba(167, 160, 160, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
}
/* bonus */
.weather__bonus {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bonus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  border-bottom: 1px solid rgba(167, 160, 160, 0.3);
  width: 50%;
  padding: 1.5rem 2rem;
}
.icon {
  display: inline-block;
  height: 3rem;
  width: 3rem;
}

/* options */
.btn--options {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  cursor: pointer;

  background: none;
  border: none;
}

.btn--search-city {
  display: inline-block;
  position: relative;
  top: 0.9rem;
  right: 1.4rem;
  border: none;
  border-bottom: 3px solid var(--dark-blue);
  padding-bottom: 1rem;
  background: none;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  opacity: 1;
}
.btn--search-city:hover {
  opacity: 0.6;
}
.btn--search-city img {
  height: 3rem;
  width: 3rem;
}

[data='options'] {
  height: 100%;
  width: 100%;
  transition: transform 1s;
}
[data='options']:hover {
  transform: rotate(90deg);
}

.options__modal {
  z-index: 10;
  position: absolute;
  width: 96%;
  background: var(--font-white);
  color: var(--dark-blue);
  right: 1rem;
  top: 4.4rem;
  border-radius: 1rem;
  pointer-events: none;
  transform: translateY(-35%) translateX(5%);
  transition: transform ease-in-out 500ms, opacity 500ms ease-in-out;
  opacity: 0;
  padding: 2rem;
}
.options__modal.modal--active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
.options__modal__heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.units-system__heading {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.units-system__wrapper {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
}
.units-system__label {
  font-size: 1.6rem;
  margin-left: 1rem;
}
.form-search {
  position: relative;
  width: 100%;
}
.search__results {
  background: var(--dark-blue);
  color: var(--font-white);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  left: 3rem;
  width: 70%;
}
.search__label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.8rem;
}
.search__bar {
  margin: 0.5rem 1rem 0;
  background: none;
  border: none;
  border-bottom: 3px solid var(--dark-blue);
  font-family: inherit;
  font-size: 1.8rem;
  color: var(--dark-blue);
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.search__bar:focus {
  outline: none;
  background-color: #e9ecf0;
}
.search__results {
  position: relative;
  top: -0.9rem;
  left: 1rem;
  width: 96%;
}
.search-result {
  font-size: 1.5rem;
  padding: 1rem 1rem;
  cursor: pointer;
  border: 3px solid var(--dark-blue);
}
.search__user-tip {
  position: absolute;
  font-size: 1.3rem;
  margin-bottom: 3rem;
}
.search-result:hover {
  background: var(--font-white);
  color: var(--dark-blue);
}
.btn--update {
  position: relative;
  font-family: inherit;
  display: block;
  height: 3rem;
  width: 10rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--font-white);
  background-color: var(--dark-blue);
  border: none;
  border-radius: 0.5rem;
  margin: 6rem auto 3rem;
  cursor: pointer;
  border: 2px solid var(--dark-blue);
  transition: background-color 120ms ease-in-out;
}
.btn--update:hover {
  background-color: var(--font-white);
  color: var(--dark-blue);
}

/* spinner */
.spinner {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* alerts */
.weather__alerts {
  width: 100%;
}
.alert {
  margin: -1rem auto 0.3rem;
  background: linear-gradient(90deg, var(--uv-very-high), var(--uv-high));
  width: 90%;
  border-radius: 0.5rem;
  color: var(--font-white);
}
.alert__tag {
  text-align: center;
  font-size: 1.8rem;
}
.alert__description {
  padding: 1rem 2rem;
  text-align: justify;
  font-size: 1.3rem;
}

/* error */
.error {
  width: 90%;
  border: 1px solid var(--font-white);
  background-color: var(--font-white);
  border-radius: 0.8rem;
  padding: 2rem;
  opacity: 0.5;
}
.error__message {
  color: var(--dark-blue);
  font-size: 1.5rem;
}

/* custom radio buttons */
input[type='radio'] {
  appearance: none;
  background-color: var(--font-white);
  margin: 0;
  font: inherit;
  width: 1.6rem;
  height: 1.6rem;
  border: 0.1rem solid var(--dark-blue);
  border-radius: 50%;
  transform: translateY(0.1rem);
  cursor: pointer;
  display: grid;
  place-content: center;
}
input[type='radio']::before {
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 100ms ease-in-out;
  box-shadow: inset 1em 1em var(--dark-blue);
}
input[type='radio']:checked::before {
  transform: scale(1);
}
