@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');
html {
  font-size: 10px;
  box-sizing: border-box;
  font-family: 'Oswald', monospace;
  font-weight: 400;
}
:root {
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #363636;
  display: flex;
  justify-content: center;
}

.weather {
  border: 1px solid white;
  height: 10vmin;
  width: 90vmin;
}
